.body{
  font: 16px/1.5 Verdana;
  background: #f2f2f4;
}
.container{
  max-width: 1600px;
  margin: 0 auto;
  padding: 30px;
}

.row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.item{
  background: #fff;
  padding: 24px;
}